{% extends "Base.html" %}

{%block Title%}
About
{%endblock%}
{% load static %}
<link rel="stylesheet" href="{% static 'Css/index.css' %}">

{%block Main%}
<center>
    <font size="6px" color="purple">Hello Friends</font>
    <hr>
    <h3>
        My Name is <font size="4px" color="red">Sahebrao Shivaji Rahire</font>
        <br>
        <br>
        I Am from <font size="4px" color="violet">Nanded , Maharastra , India </font>
        <br>
        <br>
        I Recently Completed my graduation in <font size="4px" color="blue">Computer Scince</font> with CGPA of 8.92 %
        <br>
        <br>
        From <font size="4px" color="aqua">MGMs College OF CS & IT Nanded</font>
        <br>
        <br>
        Which Belongs to <font size="4px" color="lightgreen">Swami Ramanand Tirth Open University Nanded</font>
        <br>
        <br>
    </h3>
</center>
{%endblock%}