{% extends "Base.html" %}

{%block Title%}
Contact
{%endblock%}

{%block Main%}
<center>
    <font size="7px" color="violet">Contact</font>
    <br>
    <br>
    <font size="4px" color="lightskyblue">Mobile No :- 9284488740</font>
    <br>
    <br>
    <font size="4px" color="light">Email Address :- rahires818@gmail.com</font>
    <br>
    <br>
    <hr>
    <a href="https://www.github.com/rahires007"><button><img src="https://cdn-icons-png.magnific.com/256/179/179323.png?semt=ais_white_label" alt="Github" width="30" height="30"></button></a>   
    <a href="https://www.instagram.com/rahires_818"><button><img src="https://img.magnific.com/free-vector/instagram-icon_1051-1083.jpg?semt=ais_hybrid&w=740&q=80" alt="Instagram" width="30" height="30"></button></a>    
    <a href="https://www.linkedin.com/in/rahire-sahebrao"><button><img src="https://cdn-icons-png.magnific.com/256/794/794388.png?semt=ais_white_label" alt="Linkedin" width="30" height="30"></button></a>    
    <a href="https://www.rahires.site"><button><img src="https://www.shutterstock.com/image-vector/portfolio-icon-symbol-design-human-260nw-1206664873.jpg" alt="Portfolio" width="30" height="30"></button></a>

</center>
{%endblock%}