{% extends "Base.html" %}

{%block Title%}
Skills
{%endblock%}

{%block Main%}
<center>
    <table border="1">
        <thead>
            <tr>
                <th><font size="7px" color="lightblue">Skills</font></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <font size="5px" color="violet">Programming Langugaes</font>
                    <ul>
                        <li>Python</li>
                        <li>Java</li>
                        <li>Cpp</li>
                        <li>C#</li>
                        <li>C</li>
                    </ul>
                    <font size="5px" color="violet">Library & Frameworks</font>
                    <ul>
                        <li>Django Python Framework</li>
                        <li>React Js Library</li>
                    </ul>
                </td>
                <td>
                    <font size="5px" color="violet">Web Technologies</font>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JS</li>
                        <li>React</li>
                    </ul>
                    <font size="5px" color="violet">Databases</font>
                    <ul>
                        <li>Oracle</li>
                        <li>Mysql</li>
                    </ul>
                </td>
                <td>
                    <font size="5px" color="violet">Other Technical Skills</font>
                    <ul>
                        <li>Kali Linux</li>
                        <li>Nmap-Network Scanning Tool</li>
                        <li>Wireshark-Wireless Penetration Testing Tool</li>
                        <li>Brupsuite- Web Penetration Testing Tool</li>
                        <li>Networking</li>
                        <li>CyberSecurity</li>
                        <li>Ethical Hacking</li>
                        <li>John The Ripper & Hashcat-Password Cracking Tools</li>
                    </ul>
                </td>
                <td>
                    <font size="5px" color="violet">Devlopers Tools</font>
                    <ul>
                        <li>Vs Code</li>
                        <li>Postman</li>
                        <li>Vercel & Netlify</li>
                        <li>Git & Github</li>
                        <li>Docker & Virtual Box</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</center>
{%endblock%}