<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        <center>
            <hr>
            <font size="5px" color="purple">Hello Friends...</font>
            <hr>
            <font size="4px" color="red">My Name is Sahebrao Shivaji Rahire..</font>
            <br>
            <br>
            <font size="4px" color="violet">I am from Nanded , Maharastra , India </font>
            <br>
            <br>
            <font size="4px" color="pink">I recently completed my graduation in Computer Science From Mgms College of CS & IT Nanded</font>
            <hr>
        </center>
    </body>
</html>